@import "utils/variables";

@mixin onMobile {
  @media screen and (min-width: 360px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-PixelRatio-2x {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/bg-header@2x.webp");

    @include backgroundImage;
  }
}

@mixin bg-PixelRatio-3x {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/bg-header@3x.webp");

    @include backgroundImage;
  }
}

@mixin bg-footer-PixelRatio-2x {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/bg-footer@2x.webp");

    @include backgroundImage;
  }
}

@mixin bg-footer-PixelRatio-3x {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 3dppx) {
    background-image: url("../images/bg-footer@3x.webp");

    @include backgroundImage;
  }
}

@mixin topActions {
  $icon-width: 24px;

  display: grid;
  grid-template-columns: $icon-width 1fr $icon-width;
  justify-items: center;
  align-items: center;

  @include onDesktop {
    $icon-width: 34px;

    grid-template-columns: $icon-width 1fr $icon-width;
  }
}
