.about {
  &__content {
    @include grid;
  }

  &__title {
    margin-bottom: 48px;

    @include titleTypography;

    @include onDesktop {
      margin-bottom: 0;

      grid-column: 1 / 5;
    }
  }

  &__title-link {
    color: $color-blue;
  }

  &__description {
    grid-column: 7 / 13;
  }

  &__subtitle {
    margin-bottom: 16px;

    display: block;

    @include blueTypography;
  }

  &__paragraph {
    margin-bottom: 27px;

    &--important {
      margin-bottom: 0;

      font-weight: 700;
    }
  }
}
