.about {
  &__content {
    @include onDesktop {
      @include flexBetween;
    }
  }

  &__title {
    margin-bottom: 48px;

    @include titleTypography;

    @include onDesktop {
      margin-bottom: 0;

      width: 324px;
    }
  }

  &__title-link {
    color: $color-blue;
  }

  &__description {
    @include onDesktop {
      width: 498px;
    }
  }

  &__subtitle {
    margin-bottom: 16px;

    @include blueTypography;
  }

  &__paragraph {
    margin-bottom: 27px;

    &--important {
      margin-bottom: 0;

      font-weight: 700;
    }
  }
}
