.about {
  &__content {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__title{

  }

  &__description{

  }

  &__subtitle{
    
  }

  &__paragraph{

  }
}
