.gallery {
  &__content {
    @include flexColumn;
    align-items: center;
  }
  &__list {
    margin-bottom: 32px;

    @include flexColumn;
    gap: 32px;

    @include onDesktop {
      gap: 40px;
    }
  }
}
