.header {
  background-image: url("../images/bg-header.webp");
  @include backgroundImage;

  @include bg-PixelRatio-2x;
  @include bg-PixelRatio-3x;

  &__content {
    padding: $headerTopPadding 0 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  &__top {
    @include topActions;
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;

    color: $color-white;

    &::before {
      margin-bottom: 24px;

      content: "";

      display: block;

      width: 40px;
      height: 2px;

      background-color: $color-white;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }
  }
}
