.person {
  @include flexColumn;
  align-items: center;

  width: 280px;

  @include onDesktop {
    width: 324px;
  }

  &__image {
    margin-bottom: 28px;

    width: 153px;

    @include onDesktop {
      margin-bottom: 32px;

      width: 150px;
    }
  }

  &__info {
    @include flexColumn;
    align-items: center;
  }

  &__name {
    margin-bottom: 4px;

    @include blueTypography;
  }

  &__role {
    margin-bottom: 13px;

    @include greyTypography;
  }

  &__review {
    text-align: center;
  }
}
