.testimonials {
  &__list {
    @include flexColumn;
    align-items: center;
    gap: 48px;

    @include onDesktop {
      flex-direction: row;
      align-items: start;
      gap: 24px;
    }
  }
}
